<div class="col-md mt-4">
  <h3 class="pb-4 mb-4 fst-italic border-bottom">DIT University, Dehradun</h3>

  <article class="blog-post">
    <p>
      DIT University has a clear-cut vision to be a technologically advanced campus
      and implement IT-based tools in all its operation. Primarily a Technical 
      University campus with over 80% of students pursuing higher education in 
      Science, Technology, and Engineering & Management (STEM) based programs, 
      it becomes imperative to put best practices in place to make stakeholders 
      tech savvy. In today's world, our firm belief is that appropriate and contemporary 
      use of technology shall provide impetus to the future growth of DIT University. 
      Considerable investment has been made in this direction in the last five years.
    </p>

    <h2>Technology in Academics</h2>
    <p>
      DIT University, Dehradun Technology in the Academic environment has positively impacted Teaching
      & Learning, Assessment & Attainment Process.We understand that in the contemporary 
      education system, the focus from Guru-Shishya parampara on the teaching, learning, 
      and evaluation process has shifted to Outcome Based Education (OBE).
    </p>

    <h2>Research Centers and Facilities</h2>
    <p>
      The Centre of Excellence in Internet of Things (IoT) is an ultramodern facility and 
      equipped with latest computing machines, simulators, sensors, microcontrollers and 
      edge nodes allow undergraduate and postgraduate students to address real world societal 
      problems by developing practical IoT solutions using the Arduino and the Raspberry Pi 
      platforms. This centre has developed several high end and hands-on elective courses for 
      the University's B.Tech Computer Science and Engineering specialized track of IoT and Edge 
      Computing.
    </p>

    <h2>Education and Training</h2>
    <p>
      DIT University, Dehradun offers a comprehensive array of courses in advanced
      computing and software development. These encompass diploma programmes
      specializing in fields such as Embedded System Design, VLSI, Big Data
      Analytics, Geoinformatics, and Artificial Intelligence.
    </p>

    <h2>Products and Developments</h2>
    <p>
      Over the years, DIT University, Dehradun has spearheaded several notable
      contributions to technology.
    </p>

    <h2>Notable Researchers and Alumni</h2>
    <p>
      DIT University, Dehradun boasts a roster of esteemed researchers and accomplished
      alumni who have significantly impacted the field of technology.
    </p>

    <h2>Awards and Accolades</h2>
    <p>
      DIT University, Dehradun's groundbreaking contributions have earned it numerous
      accolades.
    </p>
  </article>
</div>
